.container{
	display: grid;
	grid-template-rows: [row1-start] 2fr [row1-end] 50% [content-end] 1fr [footer-end];
	grid-template-columns: 2fr auto 1fr minmax(300px, 1fr);
	grid-template-areas: 
	"header contact navi navi"
	"main main main sidebar"
	"footer footer footer footer";
	background-image: linear-gradient(to bottom right, yellow, gray);
}
header {
	grid-area: header;
}
nav{
	grid-area: navi;
	place-self: center end;
}
#about{
	grid-area: main;
}
#portfolio{
	grid-area: sidebar;
}
footer{
	grid-area: footer;
	place-self: center;
}
#contacts{
	grid-area: contact;
}
